.wrapper {
  position: absolute;
  top: -38px;
  left: -65px;
  width: 145px;
  height: 25px;
  z-index: 10;
  text-align: center;
  background: #000000;
  color: white;
  border-radius: 3px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributions {
  
  font-size: 12px;
  font-weight: 400;
}

.date {
  font-size: 10px;
  font-weight: 400;
}